pkgbase = github-artifact-sync
	pkgdesc = Service for syncing github workflow artifacts with webhooks
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/lima-uam/github-artifact-sync
	arch = x86_64
	license = MIT OR Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = libssl.so
	depends = libcrypto.so
	options = !lto
	source = github-artifact-sync-0.1.4.tar.gz::https://github.com/lima-uam/github-artifact-sync/archive/refs/tags/v0.1.4.tar.gz
	sha256sums = 62db97a3a505ecfb119ccc5e33f90620c2c2dcc61c12aa562c51d299e04c8150

pkgname = github-artifact-sync
