pkgbase = github-artifact-sync
	pkgdesc = Service for syncing github workflow artifacts with webhooks
	pkgver = 0.1.2
	pkgrel = 2
	url = https://github.com/lima-uam/github-artifact-sync
	arch = x86_64
	license = MIT OR Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = libssl.so
	depends = libcrypto.so
	options = !lto
	source = github-artifact-sync-0.1.2.tar.gz::https://github.com/lima-uam/github-artifact-sync/archive/refs/tags/v0.1.2.tar.gz
	sha256sums = c71ca3d8c3b99e219718c31326655b620a557669d928f5daf673474b70244941

pkgname = github-artifact-sync
