pkgbase = github-artifact-sync
	pkgdesc = Service for syncing github workflow artifacts with webhooks
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/lima-uam/github-artifact-sync
	arch = x86_64
	license = MIT OR Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = libssl.so
	depends = libcrypto.so
	options = !lto
	source = github-artifact-sync-0.1.1.tar.gz::https://github.com/lima-uam/github-artifact-sync/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = 6497b7cbf8b8e118aaf9c0e2da7eb1d4f0e8e0bd39f5aa52fa03ffc27bb27814

pkgname = github-artifact-sync
